In [1]:
import pandas as pd

In [23]:
df = pd.read_csv('../data/raphael/flights_final.csv')

In [5]:
df

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE_x,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,CANCELLATION_DESCRIPTION,SCHEDULED_TIME_HOURS,ELAPSED_TIME_HOURS,Time Difference,SCHEDULED_TIME_BOOL,ELAPSED_TIME_BOOL,SCHEDULED_DEPARTURE_DATETIME,DEPARTURE_TIME_DATETIME,ARRIVAL_TIME_DATETIME,SCHEDULED_ARRIVAL_DATETIME
0,2015,1,1,4,AA,1112,N3LAAA,SFO,DFW,00:30,...,NaN,3.250000,3.216667,2,0,0,2015-01-01 00:30:00,2015-01-01 00:19:00,2015-01-01 05:32:00,2015-01-01 05:45:00
1,2015,1,1,4,DL,1173,N826DN,LAS,ATL,00:30,...,NaN,3.683333,3.383333,3,0,0,2015-01-01 00:30:00,2015-01-01 00:33:00,2015-01-01 06:56:00,2015-01-01 07:11:00
2,2015,1,1,4,DL,2336,N958DN,DEN,ATL,00:30,...,NaN,2.883333,2.483333,2,0,0,2015-01-01 00:30:00,2015-01-01 00:24:00,2015-01-01 04:53:00,2015-01-01 05:23:00
3,2015,1,1,4,UA,1197,N78448,SFO,IAH,00:48,...,NaN,3.633333,3.616667,2,0,0,2015-01-01 00:48:00,2015-01-01 00:42:00,2015-01-01 06:19:00,2015-01-01 06:26:00
4,2015,1,1,4,NK,214,N632NK,LAS,DFW,01:03,...,NaN,2.450000,2.450000,2,0,0,2015-01-01 01:03:00,2015-01-01 01:02:00,2015-01-01 05:29:00,2015-01-01 05:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460385,2015,12,31,4,UA,1204,N476UA,SFO,IAH,23:43,...,NaN,3.700000,3.366667,2,0,0,2015-12-31 23:43:00,2015-12-31 23:37:00,2016-01-01 04:59:00,2016-01-01 05:25:00
460386,2015,12,31,4,DL,1354,N1607B,LAX,ATL,23:50,...,NaN,4.066667,3.816667,3,0,0,2015-12-31 23:50:00,2015-12-31 00:16:00,2015-12-31 07:05:00,2016-01-01 06:54:00
460387,2015,12,31,4,F9,420,N947FR,DEN,ATL,23:55,...,NaN,2.916667,2.450000,2,0,0,2015-12-31 23:55:00,2015-12-31 00:14:00,2015-12-31 04:41:00,2016-01-01 04:50:00
460388,2015,12,31,4,UA,1205,N87527,LAX,ORD,23:55,...,NaN,4.000000,3.666667,2,0,0,2015-12-31 23:55:00,2015-12-31 00:01:00,2015-12-31 05:41:00,2016-01-01 05:55:00
460389,2015,12,31,4,AA,219,N3LYAA,LAX,ORD,23:59,...,NaN,4.066667,3.766667,2,0,0,2015-12-31 23:59:00,2015-12-31 23:58:00,2016-01-01 05:44:00,2016-01-01 06:03:00

In [15]:
df2 = pd.read_csv('../data/raphael/flights.csv')

C:\Users\ogetg\AppData\Local\Temp\ipykernel_18152\3104773252.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('../data/raphael/flights.csv')

In [16]:
df2

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df3 = pd.read_csv('../data/clean/final_df.csv')

In [7]:
df3

,DEPARTURE_DELAY,TAXI_OUT,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,TAXI_IN,ARRIVAL_DELAY,DIVERTED,CANCELLED,...,Destination_AIRPORT_Hartsfield-Jackson Atlanta International Airport,Destination_AIRPORT_LaGuardia Airport (Marine Air Terminal),Destination_AIRPORT_Los Angeles International Airport,Destination_AIRPORT_McCarran International Airport,Destination_AIRPORT_Phoenix Sky Harbor International Airport,Destination_AIRPORT_San Francisco International Airport,CANCELLATION_DESCRIPTION_National Air System,CANCELLATION_DESCRIPTION_Not cancelled,CANCELLATION_DESCRIPTION_Weather,WEEKEND
0,0.0,0.0,150.0,0.0,0.0,731,0.0,0.0,0,1,...,False,False,False,False,False,False,False,False,True,0
1,-1.0,31.0,128.0,137.0,97.0,762,9.0,8.0,0,0,...,False,True,False,False,False,False,False,True,False,0
2,-4.0,16.0,136.0,147.0,121.0,689,10.0,7.0,0,0,...,False,False,False,False,False,False,False,True,False,0
3,12.0,22.0,335.0,332.0,300.0,2139,10.0,9.0,0,0,...,False,False,False,False,False,True,False,True,False,0
4,-5.0,32.0,130.0,169.0,98.0,762,39.0,34.0,0,0,...,False,True,False,False,False,False,False,True,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460385,3.0,14.0,265.0,241.0,223.0,2139,4.0,-21.0,0,0,...,True,False,False,False,False,False,False,True,False,0
460386,0.0,15.0,96.0,77.0,57.0,414,5.0,-19.0,0,0,...,False,False,False,True,False,False,False,True,False,0
460387,-1.0,17.0,252.0,241.0,217.0,1846,7.0,-12.0,0,0,...,False,False,False,False,False,False,False,True,False,0
460388,-4.0,18.0,279.0,284.0,225.0,2139,41.0,1.0,0,0,...,True,False,False,False,False,False,False,True,False,0
460389,-6.0,13.0,222.0,202.0,184.0,1635,5.0,-26.0,0,0,...,False,False,False,False,False,False,False,True,False,0

In [6]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460390 entries, 0 to 460389
Data columns (total 100 columns):
 #   Column                                                                Non-Null Count   Dtype
---  ------                                                                --------------   -----
 0   DEPARTURE_DELAY                                                       460390 non-null  float64
 1   TAXI_OUT                                                              460390 non-null  float64
 2   SCHEDULED_TIME                                                        460390 non-null  float64
 3   ELAPSED_TIME                                                          460390 non-null  float64
 4   AIR_TIME                                                              460390 non-null  float64
 5   DISTANCE                                                              460390 non-null  int64
 6   TAXI_IN                                                               460390 non-null  float64
 7   ARRIVAL_DELAY                                                         460390 non-null  float64
 8   DIVERTED                                                              460390 non-null  int64
 9   CANCELLED                                                             460390 non-null  int64
 10  AIR_SYSTEM_DELAY                                                      460390 non-null  float64
 11  SECURITY_DELAY                                                        460390 non-null  float64
 12  AIRLINE_DELAY                                                         460390 non-null  float64
 13  LATE_AIRCRAFT_DELAY                                                   460390 non-null  float64
 14  WEATHER_DELAY                                                         460390 non-null  float64
 15  SCHEDULED_DEPARTURE_DATETIME                                          460390 non-null  object
 16  DEPARTURE_TIME_DATETIME                                               460390 non-null  object
 17  ARRIVAL_TIME_DATETIME                                                 460390 non-null  object
 18  SCHEDULED_ARRIVAL_DATETIME                                            460390 non-null  object
 19  departure_6hr_before                                                  460390 non-null  object
 20  departure_1hr_before                                                  460390 non-null  object
 21  departure_1hr_after                                                   460390 non-null  object
 22  departure_6hr_after                                                   460390 non-null  object
 23  arrival_6hr_before                                                    460390 non-null  object
 24  arrival_1hr_before                                                    460390 non-null  object
 25  arrival_1hr_after                                                     460390 non-null  object
 26  arrival_6hr_after                                                     460390 non-null  object
 27  SCHEDULED_DEPARTURE_DATETIME_tmpc                                     460390 non-null  float64
 28  SCHEDULED_DEPARTURE_DATETIME_sped                                     460390 non-null  float64
 29  SCHEDULED_DEPARTURE_DATETIME_p01m                                     460390 non-null  float64
 30  SCHEDULED_DEPARTURE_DATETIME_vsby                                     460390 non-null  float64
 31  departure_6hr_before_tmpc                                             460390 non-null  float64
 32  departure_6hr_before_sped                                             460390 non-null  float64
 33  departure_6hr_before_p01m                                             460390 non-null  float64
 34  departure_6hr_before_vsby                                             460390 non-null  float64
 35  departure_1hr_before_tmpc                                             460390 non-null  float64
 36  departure_1hr_before_sped                                             460390 non-null  float64
 37  departure_1hr_before_p01m                                             460390 non-null  float64
 38  departure_1hr_before_vsby                                             460390 non-null  float64
 39  departure_1hr_after_tmpc                                              460390 non-null  float64
 40  departure_1hr_after_sped                                              460390 non-null  float64
 41  departure_1hr_after_p01m                                              460390 non-null  float64
 42  departure_1hr_after_vsby                                              460390 non-null  float64
 43  departure_6hr_after_tmpc                                              460390 non-null  float64
 44  departure_6hr_after_sped                                              460390 non-null  float64
 45  departure_6hr_after_p01m                                              460390 non-null  float64
 46  departure_6hr_after_vsby                                              460390 non-null  float64
 47  SCHEDULED_ARRIVAL_DATETIME_tmpc                                       460390 non-null  float64
 48  SCHEDULED_ARRIVAL_DATETIME_sped                                       460390 non-null  float64
 49  SCHEDULED_ARRIVAL_DATETIME_p01m                                       460390 non-null  float64
 50  SCHEDULED_ARRIVAL_DATETIME_vsby                                       460390 non-null  float64
 51  arrival_6hr_before_tmpc                                               460390 non-null  float64
 52  arrival_6hr_before_sped                                               460390 non-null  float64
 53  arrival_6hr_before_p01m                                               460390 non-null  float64
 54  arrival_6hr_before_vsby                                               460390 non-null  float64
 55  arrival_1hr_before_tmpc                                               460390 non-null  float64
 56  arrival_1hr_before_sped                                               460390 non-null  float64
 57  arrival_1hr_before_p01m                                               460390 non-null  float64
 58  arrival_1hr_before_vsby                                               460390 non-null  float64
 59  arrival_1hr_after_tmpc                                                460390 non-null  float64
 60  arrival_1hr_after_sped                                                460390 non-null  float64
 61  arrival_1hr_after_p01m                                                460390 non-null  float64
 62  arrival_1hr_after_vsby                                                460390 non-null  float64
 63  arrival_6hr_after_tmpc                                                460390 non-null  float64
 64  arrival_6hr_after_sped                                                460390 non-null  float64
 65  arrival_6hr_after_p01m                                                460390 non-null  float64
 66  arrival_6hr_after_vsby                                                460390 non-null  float64
 67  AIRLINE_American Eagle Airlines Inc.                                  460390 non-null  bool
 68  AIRLINE_Atlantic Southeast Airlines                                   460390 non-null  bool
 69  AIRLINE_Delta Air Lines Inc.                                          460390 non-null  bool
 70  AIRLINE_Frontier Airlines Inc.                                        460390 non-null  bool
 71  AIRLINE_JetBlue Airways                                               460390 non-null  bool
 72  AIRLINE_Skywest Airlines Inc.                                         460390 non-null  bool
 73  AIRLINE_Southwest Airlines Co.                                        460390 non-null  bool
 74  AIRLINE_Spirit Air Lines                                              460390 non-null  bool
 75  AIRLINE_US Airways Inc.                                               460390 non-null  bool
 76  AIRLINE_United Air Lines Inc.                                         460390 non-null  bool
 77  AIRLINE_Virgin America                                                460390 non-null  bool
 78  Origin_AIRPORT_Dallas/Fort Worth International Airport                460390 non-null  bool
 79  Origin_AIRPORT_Denver International Airport                           460390 non-null  bool
 80  Origin_AIRPORT_George Bush Intercontinental Airport                   460390 non-null  bool
 81  Origin_AIRPORT_Hartsfield-Jackson Atlanta International Airport       460390 non-null  bool
 82  Origin_AIRPORT_LaGuardia Airport (Marine Air Terminal)                460390 non-null  bool
 83  Origin_AIRPORT_Los Angeles International Airport                      460390 non-null  bool
 84  Origin_AIRPORT_McCarran International Airport                         460390 non-null  bool
 85  Origin_AIRPORT_Phoenix Sky Harbor International Airport               460390 non-null  bool
 86  Origin_AIRPORT_San Francisco International Airport                    460390 non-null  bool
 87  Destination_AIRPORT_Dallas/Fort Worth International Airport           460390 non-null  bool
 88  Destination_AIRPORT_Denver International Airport                      460390 non-null  bool
 89  Destination_AIRPORT_George Bush Intercontinental Airport              460390 non-null  bool
 90  Destination_AIRPORT_Hartsfield-Jackson Atlanta International Airport  460390 non-null  bool
 91  Destination_AIRPORT_LaGuardia Airport (Marine Air Terminal)           460390 non-null  bool
 92  Destination_AIRPORT_Los Angeles International Airport                 460390 non-null  bool
 93  Destination_AIRPORT_McCarran International Airport                    460390 non-null  bool
 94  Destination_AIRPORT_Phoenix Sky Harbor International Airport          460390 non-null  bool
 95  Destination_AIRPORT_San Francisco International Airport               460390 non-null  bool
 96  CANCELLATION_DESCRIPTION_National Air System                          460390 non-null  bool
 97  CANCELLATION_DESCRIPTION_Not cancelled                                460390 non-null  bool
 98  CANCELLATION_DESCRIPTION_Weather                                      460390 non-null  bool
 99  WEEKEND                                                               460390 non-null  int64
dtypes: bool(32), float64(52), int64(4), object(12)
memory usage: 252.9+ MB

In [2]:
airports = pd.read_csv('../data/raw/airports.csv')

In [4]:
airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IATA_CODE  322 non-null    object
 1   AIRPORT    322 non-null    object
 2   CITY       322 non-null    object
 3   STATE      322 non-null    object
 4   COUNTRY    322 non-null    object
 5   LATITUDE   319 non-null    float64
 6   LONGITUDE  319 non-null    float64
dtypes: float64(2), object(5)
memory usage: 17.7+ KB

In [8]:
airport_codes = ["DFW", "DEN", "IAH", "ATL", "LGA", "LAX", "LAS", "PHX", "SFO"]

In [13]:
set(airports['IATA_CODE'].unique()) - (set(airports['IATA_CODE'].unique())-set(airport_codes))

{'ATL', 'DEN', 'DFW', 'IAH', 'LAS', 'LAX', 'LGA', 'PHX', 'SFO'}

In [24]:
df.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE_x', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY', 'date', 'IATA_CODE_x',
       'AIRLINE_y', 'IATA_CODE_y', 'Origin_AIRPORT', 'Origin_CITY',
       'Origin_STATE', 'Origin_COUNTRY', 'Origin_LATITUDE', 'Origin_LONGITUDE',
       'Destination_IATA_CODE', 'Destination_AIRPORT', 'Destination_CITY',
       'Destination_STATE', 'Destination_COUNTRY', 'Destination_LATITUDE',
       'Destination_LONGITUDE', 'CANCELLATION_DESCRIPTION',
       'SCHEDULED_TIME_HOURS', 'ELAPSED_TIME_HOURS', 'Time Difference',
       'SCHEDULED_TIME_BOOL', 'ELAPSED_TIME_BOOL',
       'SCHEDULED_DEPARTURE_DATETIME', 'DEPARTURE_TIME_DATETIME',
       'ARRIVAL_TIME_DATETIME', 'SCHEDULED_ARRIVAL_DATETIME'],
      dtype='object')

In [27]:
df['IATA_CODE_x'].unique()

array(['AA', 'DL', 'UA', 'NK', 'US', 'OO', 'WN', 'F9', 'VX', 'EV', 'MQ',
       'B6'], dtype=object)

In [29]:
df['IATA_CODE_y'].unique()

array(['SFO', 'LAS', 'DEN', 'LAX', 'PHX', 'ORD', 'DFW', 'IAH', 'LGA',
       'ATL'], dtype=object)

In [30]:
df['Destination_IATA_CODE'].unique()

array(['DFW', 'ATL', 'IAH', 'ORD', 'PHX', 'DEN', 'LAX', 'LGA', 'SFO',
       'LAS'], dtype=object)

In [ ]:
["ATL", "DEN", "DFW", "IAH", "LAS", "LAX", "LGA", "ORD", "PHX", "SFO"]